*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
   
}

#container{
    max-width: 1000px;
    box-shadow:1px 1px 3px  rgb(0, 0, 0);
    margin: auto;
}
html{
    scroll-behavior: smooth;
}


/* header start here */

header{
    background-color: rgb(6, 248, 6);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5vh;
    padding: 0px 5px;

 
}
ul{
    display:flex;
}

ul li{
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: 0.4s;
    padding: 3px;
}
ul li:hover{
    background-color: rgb(247, 241, 244);
    border-radius: 5px;
}

ul li:last-child{
    margin-right: 0;
}

.Title{
    font-size: 1.2rem;
    font-family: cursive;
    font-weight: bolder;
    
}
.Title span{
    color: rgb(247, 71, 1);
}

.Title p{
    background-color: rgba(255, 255, 255, 0.90);
   margin: 0.5rem 0;
   padding:0px 10px;
   border-radius: 4px 40px 10px 40px;
   border: 2px solid rgb(15, 15, 15);
}

.input-div{
    width: 250px;
    background-color: rgb(252, 253, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 7px;
    border-radius: 20px;
}

input{
    background-color: transparent;
    border: none;
}


/* header start here */

/* <!-- banner section start here --> */
#banner__section{
  background-image: url(image/crystals-1983396__340.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;

  height: 60vh;
}

.banner_body{
    padding: 5rem 0;
}

.banner_body div{
   margin-bottom: 2rem;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.banner_body h1{
    text-align: center;
   margin:auto ;
    font-size: 1.5rem;
    color: rgb(228, 87, 5);
    width: 0ch;
   white-space:nowrap;
    overflow: hidden;
    animation: tex 10s steps(20) infinite;
    letter-spacing: 1px;
    border-right: 5px solid rgb(247, 171, 6);
}

@keyframes tex {
    0%{
       
        width: 0ch;
    }
    50%{
        width: 29ch;
        
    }
}

.btn{
    font-size: 1.2rem;
    padding: 0.3rem;
    background-color: rgba(60, 255, 1, 0.45);
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    transition: 0.4s;
    margin-top: 2rem;
    color: whitesmoke;
}

.btn:hover{
    background-color: rgb(222, 12, 241);
    color: white;
}

.marq{
    font-size: 1.1rem;
    font-weight: bolder;
    color: rgb(250, 247, 250);
   
}

/* <!-- banner section start here --> */





        /* <!-- category start here --> */
        #categori-section{
            
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 1rem;
        }
        .card-body img{
            width: 90px;
        }

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 200px;
            width: 140px;
            padding: 5px;
            box-shadow: 1px 2px 5px 2px black;
            text-align: center;
            background-color: rgb(252, 252, 252);
            transition: 0.4s;
            border-radius: 5px;
        }
        .card:hover{
            transform: scale(1.1);
        }
        .card-des h3{
            background-color: rgb(7, 255, 19);
            color: rgb(17, 1, 1);
        }
        .card-des p{
            font-size: 1.1rem;
            font-weight: 400;
        }
        .latest h3{
            width: 100%;
            text-align: center;
            margin-top: 1rem;
        }
        /* <!-- category start here --> */


        /* add section start here */
        #add-section img{
            width: 100%;
            height: 50vh;
        }
        /* add section start here */








        /* <!-- item section here --> */

        #item-section .item-title{
            display: flex;
        }

        .item-body{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        #item-section .item-title h3{
            text-align: center;
            width: 100%;
            background-color: aqua;
            margin: 1rem 0;
        }
         #item-section .card-body img{
            width: 70px;
        }

        #item-section .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 90px;
            width: 100px;
            padding: 5px;
            box-shadow: 1px 2px 5px 2px black;
            text-align: center;
            background-color: rgb(252, 252, 252);
            transition: 0.4s;
            border-radius: 5px;
            
        }
        #item-section .card:hover{
            transform: scale(1.1);
        }
       #item-section .card-des h4{
            background-color: rgb(7, 255, 19);
            color: rgb(17, 1, 1);
            padding: 0 2px;
        }
       
        /* <!-- item section here --> */


        .last-img{
           margin: 1rem 0;
        }

        footer{
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            padding: 1rem 0.5rem;
        }

        footer a{
            margin-right: 0.5rem;
        }
         
        footer i{
            font-size: 1rem;
            background-color: white;
            border-radius: 50%;
            padding: 5px;
        }